/* 隐藏分享按钮 */
.social-share {
  display: none !important;
}

.post-share {
  display: none !important;
}

/* 打字机效果 */
#footer-banner-tips {
  display: block;
  text-align: center;
  white-space: nowrap;
  margin: 0 auto;
}

/* 白色光标 */
.typed-cursor {
  color: white !important;
  vertical-align: middle;
  white-space: nowrap;
}